{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="text-center p-4">
        <h2 class="logo mb-3" style="display: inline-block;">Connexion</h2>

        <form method="POST" class="form">
            <div class="form-group">
                <input type="text" name="username" placeholder="Nom d'utilisateur" class="form-input" required>
            </div>
            <div class="form-group">
                <input type="password" name="pin" placeholder="PIN (6 chiffres)"
                       pattern="\d{6}" title="6 chiffres exactement" class="form-input" required>
            </div>
            <button type="submit" class="form-button">Se connecter</button>
        </form>
    </div>
{% endblock %}